.task.task-label-finished{
    background-color: #888;
    text-decoration: line-through;
}
.app-name{
    font-size: large;
}
.multiple-todos{
    border: 1px solid black;
    margin-top: 50px;
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 5px;
    background-color: #c6cbd1;
    border-radius: 5px;
    text-align:center;
}
.input-btn-todo{
    margin-top: 20px;
}
.todo {
    margin : 20px;
    background-color: #abb6c8;
    border: 1px solid black;
    border-radius: 5px;
}
.task-container{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.task{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align:left;
    background-color: #dcdcdc;
    border-radius: 5px;
    border: 1px solid black;
}
.task:hover{
    background-color: #c0c0c0;
}
.task-label{
    overflow-wrap: break-word;
}
.delete-button{
    float: right;
    border-radius: 5px;
}
.delete-button:hover, .delete-todo:hover{
    background-color: #CD5C5C;
}
.input-task, .add-task, .input-todo, .add-todo, .delete-todo{
    border-radius: 5px;
    padding: 5px;
}